.menu-items {
  text-decoration: none;
  color: inherit;
}

.sidebar {
  background: red !important;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* .table-container {
  padding: 20px;
} */

.table-container {
  padding: 20px;
}